@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}
.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #835757 url(icon/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active {
    background: #835757 url(icon/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
section {
    padding: 100px;
    min-height: 100vh;
}
.banner {
    position: relative;
    width: 100%;
}
.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBx, .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #fff;
    padding: 0 5px;
    background: #835757;
}
.banner .contentBx h4 {
    font-size: 1.5em;
    color: #333;
}
.banner .contentBx h4 span {
    color: #835757;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}
p {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 300;
}
.btn {
    background: #835757;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}
.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active {
    right: 0;
}
.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a:hover {
    color: #00bcd4;
}
.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    margin-right: 10px;
    list-style: none;
}
.sci li img {
    transform: scale(0.5);
    opacity: 0.7;
}
.sci li img:hover {
    opacity: 1;
}
.title {
    width: 100%;
    text-align: center;
}
.title h2 {
    position: relative;
    color: #fff;
    font-size: 1.8em;
    font: 700;
    letter-spacing: 1px;
}
.title p {
    max-width: 700px;
    display: inline-block;
    color: #fff;
}
.title h2 ::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}
.title.white h2,
.title.white p {
    color: #fff;
}
.title.white h2::before {
    background: #fff;
}

.about {
    background: #291313;
}
.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textBx {
    min-height: 49%;
    width: 49%;
}
.about .content .textBx p {
    color: #fff;
}
.about .content .imgBx {
    margin-left: 40px;
}
.about .content .imgBx img {
    max-width: 100%;
}
.services {
    background: #291313;
}
.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.services .content .servicesBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #f5f5f5;
}
.services .content .servicesBx:hover {
    background: #835757;
}
.services .content .servicesBx img {
    max-width: 80px;
    transition: 0.5s;
}
.services .content .servicesBx:hover img {
    filter: invert(1);
}
.services .content .servicesBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.services .content .servicesBx:hover h2 {
    color: #fff;
}
.services .content .servicesBx p {
    margin: 0;
    transition: 0.5s;
}
.services .content .servicesBx p a {
    color: inherit;
    text-decoration: none; 
}
.services .content .servicesBx:hover p {
    color: #fff;
}
.services .content .servicesBx:hover p a {
    color: inherit;
    text-decoration: none;  
}
.work {
    background: #291313;
}
.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.work .content .workBx {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}
.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work .content .workBx .textBx {
    background: #835757;
    opacity: 0;
    transition: 0.5s;
}
.work .content .workBx:hover .textBx  {
    opacity: 1;
}
.work .content .workBx .textBx p {
    color: #fff;
    word-spacing: 15px;
    letter-spacing: 1px;
    font-size: 1em;
}
.work .content .workBx .textBx p a {
    color: inherit;
    text-decoration: none;
}
.hobbies {
    background: #291313;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container {
    width  : 960px;
    margin : 0 auto;
  }
  
  .container:after{
    clear   : both;
    display : table;
    content : '';
  }
  
  .bg-items {
    padding: 10px;
    width  : 260px;
    height : 180px;
    margin : 20px;
    background-color: white;
    float  : left;
    cursor : pointer;
    box-shadow : 3px 3px 5px 0px rgba(0,0,0,0.5);
    border-radius: 4%;
  }
  
  .items {
    width  : 240px;
    height : 160px;
    position: relative;
    overflow: hidden;
    background-color: #102B46;
  }
  
  .details {
    background-color : rgba(0,0,0,0.5);
    width            : 220px;
    height           : 140px;
    padding          : 10px;
    top : 0;
    left: 0;
    font-family : georgia;
    color       : #fff;
    opacity : 0;
    transition : opacity .8s;
    
  }
  
  .details h3 {
    margin-bottom : 20px;
  }
  
  .details h6 {
    text-align : right;
    margin-top : 40px;
  }
  
  .details p {
    font-size : 14px;
    font-style: italic;
    text-align: center;
    line-height : 20px;
  }
  
  .items:hover .details {
    opacity : 1;
    transition : opacity .2s .3s;
  }
  
  .items div {
    position : absolute;
  }
  
  /* one */
  
  .one {
    left   : 100%;
    bottom : 100%;
    width : inherit;
    height: inherit;
    background-color : #835757;
    transition   : all .3s;
  }
  
  .items:hover .one {
    transition   : all .3s;
    left   : 0;
    bottom : 0;
  }
  
  /* two */
  
  .two {
    width : inherit;
    height: inherit;
    background-color : #835757;
    transition   : all .3s;
    left   : 0;
    bottom : 100%;
  }
  
  .items:hover .two {
    transform : rotate(180deg);
    left   : 0;
    bottom : 0;
    transition   : all .3s;
  }
  
  /* three */
  
  .three {
    left : 0;
    top  : 0;
    width : inherit;
    height: inherit;
    background-color : #835757;
    transition   : all .3s;
    transform: scale(0,0);
  }
  
  .items:hover .three {
    left : 0;
    top  : 0;
    transform : scale(1,1);	
    transition : all .3s;
  }
  
  /* four */
  
  .four {
    width : inherit;
    height: inherit;
    background-color : #835757;
    transition   : all .3s;
    left : 0;
    top  : 0;
    transform: scale(0,0) rotate(0deg);
  }
  
  .items:hover .four {
    left : 0;
    top  : 0;
    transform: scale(1,1) rotate(1080deg);
    transition   : all .3s;
  }
  
  /* five */
  
  .tl5 {
    border-top   : 161px solid #835757;
    border-right : 241px solid transparent;
    top  : -160px;
    left : -240px;
    transition   : all .3s;			
  }
  
  .br5 {
    border-bottom : 161px solid #835757;
    border-left   : 241px solid transparent;
    bottom : -160px;
    right  : -240px;
    transition   : all .3s;			
  }
  
  .items:hover .tl5 {
    top  : 0;
    left : 0;
    transition   : all .3s;
  }
  
  .items:hover .br5 {
    bottom : 0;
    right  : 0;
    transition   : all .3s;
  }
  
  /* six */
  
  .tl6 {
    width  : 120px;
    height : 80px;
    background-color: #835757;
    top  : -80px;
    left : -240px;
    transition   : all .3s;			
  }
  
  .tr6 {
    width  : 120px;
    height : 80px;
    background-color: #835757;
    top   : -80px;
    right : -240px;
    transition   : all .3s;			
  }
  
  .br6 {
    width  : 120px;
    height : 80px;
    background-color: #835757;
    bottom: -80px;
    right : -240px;
    transition   : all .3s;
  }
  
  .bl6 {
    width  : 120px;
    height : 80px;
    background-color: #835757;
    bottom : -80px;
    left   : -240px;
    transition   : all .3s;
  }
  
  .items:hover .tl6 {
    top  : 0;
    left : 0;
    transition   : all .3s;
  }
  
  .items:hover .tr6 {
    top   : 0;
    right : 0;
    transition   : all .3s;
  }
  
  .items:hover .br6 {
    bottom : 0;
    right  : 0;
    transition   : all .3s;
  }
  
  .items:hover .bl6 {
    bottom : 0;
    left   : 0;
    transition   : all .3s;
  }
  
  /* seven */
  
  .seven {
    width  : 240px;
    height : 160px;
    background-color : #835757;
    opacity : 0;
    transition   : all .3s;
  }
  
  .items:hover .seven {
    opacity    : 1;
    transition : all .3s;
  }
  
  /* eight */
  
  .eight {
    top           : 30%;
    left          : 10%;
    border-right  :  100px solid transparent;
    border-bottom :  70px  solid #835757;
    border-left   :  100px solid transparent;
    transform: rotate(35deg) scale(0,0);
    transition : all .6s;
  }
  
  .eight:before {
    border-bottom: 80px solid #835757;
    border-left  : 30px solid transparent;
    border-right : 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);			   
  }
  
  .eight:after {
    position: absolute;
    display: block;
    color: #835757;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #835757;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  
  .items:hover .eight {
    transform: rotate(35deg) scale(3.5,3.5);
    transition : all .6s;
    
  }
  
  /* nine */
  
  .nine {
    width : 0;
    height: 0;
    top   : 50%;
    left  : 50%;
    background-color: #835757;
    border-radius : 50%;
    transition : all .3s;
  }
  
  .items:hover .nine {
    width : 340px;
    height: 260px;
    top   : -50px;
    left  : -50px;
    transition : all .6s;
    
  }
  
  /* ten */
  
  .ten {
    width  : inherit;
    height : 40px;
    background-color: #835757;
    left   : 100%;
  }
  
  .ten.i {
    top : 0;
    transition : all .2s;
  }
  
  .ten.ii {
    top : 40px;
    transition : all .4s;
  }
  
  .ten.iii {
    top : 80px;
    transition : all .6s;
  }
  
  .ten.iv {
    top : 120px;
    transition : all .8s;
  }
  
  .items:hover .i {
    left : 0;
    transition : all .2s;			
  }
  
  .items:hover .ii {
    left : 0;
    transition : all .4s;
  }
  
  .items:hover .iii {
    left : 0;
    transition : all .6s;
  }
  
  .items:hover .iv {
    left : 0;
    transition : all .8s;
  }
  
  /* eleven */
  
  .eleven {
    width  : inherit;
    height : 40px;
    background-color: #835757;
    transition : all .3s;
  }
  
  .eleven.i {
    top : 0;
    left : -100%;
    
  }
  
  .eleven.ii {
    top : 40px;
    left : 100%;
  }
  
  .eleven.iii {
    top : 80px;
    left : -100%;
  }
  
  .eleven.iv {
    left : 100%;
    top  : 120px;
  }
  
  .items:hover .eleven {
    left : 0;
    transition : all .4s ;
  }
  
  /* twelve */
  
  .twelve {
    width  : inherit;
    height : 40px;
    background-color: #835757;
    transition : all .3s;
    top : -40px;
  }
  
  .twelve.iv {
    transition : all .1s;
  }
  
  .twelve.iii {
    transition : all .1s .1s;
  }
  
  .twelve.ii {
    transition : all .1s .2s;
  }
  
  .twelve.i {
    transition : all .1s .3s;
  }
  
  .items:hover .twelve.i {
    top : 120px;
    transition : all .2s;
  }
  
  .items:hover .twelve.ii {
    top : 80px;
    transition : all .2s .2s ;
  }
  
  .items:hover .twelve.iii {
    top : 40px;
    transition : all .2s .4s ;
  }
  
  .items:hover .twelve.iv {
    top : 0px;
    transition : all  .2s .6s;
  }
  
  /* thirteen */
  
  .thirteen-r , .thirteen-l{
    width : 120px;
    height: inherit;
    background-color : #835757;
    top : 0;
    transition : all .3s;
  }
  
  .thirteen-r {
    left : 100%;
  }
  
  .thirteen-l {
    right : 100%;
  }
  
  .items:hover .thirteen-r {
    transition : all .3s;
    left : 0;
  }
  
  .items:hover .thirteen-l {
    transition : all .3s;
    right : 0;
  }
  
  /* fourteen */
  
  .fourteen-r , .fourteen-l{
    width : 120px;
    height: inherit;
    background-color : #835757;
    top : 0;
    transition : all .3s;
  }
  
  .fourteen-r {
    left : 100%;
  }
  
  .fourteen-l {
    right : 100%;
  }
  
  .items:hover .fourteen-r {
    transition : all .3s;
    left : 50%;
  }
  
  .items:hover .fourteen-l {
    transition : all .3s;
    right : 50%;
  }
  
  /* fifteen */
  
  .t {
    border-style : solid;
    border-width : 80px 120px 0 120px;			
    border-color :  #835757 transparent transparent transparent;
    transition   : all .3s;
    top : -80px;
  }
  
  .r {
    border-style : solid;
    border-width : 80px 120px 80px 0;	
    border-color : transparent #835757 transparent transparent;
    right : -120px;
    transition   : all .3s;
  }
  
  .b {
    border-style : solid;
    border-width : 0 120px 80px 120px;
    border-color : transparent transparent #835757 transparent;
    bottom : -80px;
    transition   : all .3s;
  }
  
  .l {
    border-style : solid;
    border-width : 80px 0 80px 120px;	
    border-color : transparent transparent transparent #835757;
    left : -120px;
    transition   : all .3s;
  }
  
  
  .items:hover .t {
    top : 0px;
    transition : all .3s;
  }
  
  .items:hover .r {
    right : 0px;
    transition : all .3s;
  }
  
  .items:hover .b {
    bottom : 0px;
    transition : all .3s;
  }
  
  .items:hover .l {
    left : 0px;
    transition : all .3s;
  }

.copyright {
    color: #fff;
    background: #291313;
    text-align: center;
    padding: 10px;
}
.copyright p {
    margin: 0;
    font-size: 16px;
}
@media (max-width: 991px) {
    .banner .imgSidebar {
        display: none;
    }
    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
    }
    .logoText {
        left: 40px;
    }
    .toggle {
        right: 40px;
    }
    .sci {
        left: 40px;
    }
    section {
        padding: 40px;
    }
    .about .content {
        flex-direction: column;
    }
    .about .content .textBx {
        min-width: 100%;
        width: 100%;
    }
    .about .content {
        margin-top: 0;
    }
    .about .content .imgBx {
        margin-left: 0;
    }
    .services .content .servicesBx {
        padding: 30px 20px;
        max-width: 340px;
        margin: 10px;
    }
    .sidebar ul li a {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .services .content .servicesBx,
    .work .content .workBx
    .bg-items {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}
